.main {
  margin: 0 auto;
  width: 60%;
  background-color: black;
  text-emphasis: center;
}
#photo-container {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}
.images {
  margin: 5% 3%;
  object-fit: cover;
  width: 60%;
}
#info {
  color: white;
}
#post {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  width: 45%;
}
